<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
table{
	border: 1px solid black;
	font-family: "Verdana";
	font-size: 14px;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
tr {outline: 1px solid black;}
</style>

<body>
	<p th:text="'Timestamp for this deployment, ' + ${timestamp}" />
	<table class="fixed">
		<col width="80px" />
		<col width="80px" />
		<col width="200px" />
		<caption>Total Score</caption>
		<thead align="left">
			<tr>
				<th th:text="Place"></th>
				<th th:text="Score"></th>
				<th th:text="Player"></th>
			</tr>
		</thead>
		<tbody align="left">
			<tr th:each="player, iterationStatus : ${TotalScore}">
				<td th:text="${iterationStatus.count}">1</td>
				<td th:text="${player.value}"></td>
				<td th:text="${player.key}"></td>
			</tr>
		</tbody>
	</table>
	<br />
	<table class="fixed">
		<col width="80px" />
		<col width="80px" />
		<col width="200px" />
		<caption>Current Scoreboard</caption>
		<thead align="left">
			<tr>
				<th th:text="Place"></th>
				<th th:text="Score"></th>
				<th th:text="Player"></th>
			</tr>
		</thead>
		<tbody align="left">
			<tr th:each="player, iterationStatus: ${currentScoreboard}">
				<td th:text="${iterationStatus.count}">1</td>
				<td th:text="(${player.score + ' ' + player.reflection})"></td>
				<td th:text="${player.name}"></td>
			</tr>
		</tbody>
	</table>
	<br />
	<table class="fixed">
		<col width="80px" />
		<col width="80px" />
		<col width="200px" />
		<caption>Previous Scoreboards</caption>
		<tr th:each="scoreboard : ${previousScoreboards}">
			<thead align="left">
				<tr>
					<th th:text="Place"></th>
					<th th:text="Score"></th>
					<th th:text="Player"></th>
				</tr>
			</thead>
			<tbody align="left">
				<tr th:each="player, iterationStatus: ${scoreboard}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="(${player.score + ' ' + player.reflection})"></td>
					<td th:text="${player.name}"></td>
				</tr>
			</tbody>
		</tr>
	</table>
</body>
</html>
